/* 	Begin Modified Meyer Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;
}
/* HTML5 reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display:block;
}
body { line-height:1; letter-spacing:-0.25px; overscroll-behavior:contain;}
#container:not([style*="zoom"]) { -webkit-text-size-adjust:none;}
table { border-collapse:collapse; border-spacing:0; }
th { font-weight:normal; text-align:left; }
ul { list-style-type:none; }
.page ol { list-style-position:outside; margin-left:1em; }
/*.page ol > li, .page  ul > li { text-indent:-1em; padding-left:1em; }*/
.page .singleline li, .page .singleline li { text-indent:inherit; padding:0; }
.page ol > li > *, .page ul > li > * { text-indent:initial; padding-left:initial; }
button { background:transparent;border:none; }
/*General styles*/
html, body, #container-wrap, #container { height:100%; }
#container-wrap { position:absolute; top:0; left:0; }
#container-wrap, #container { min-height:100%; width:100%; background-color:transparent; z-index:0;}
b { font-weight:bold; }
i { font-style:italic; }
a { color:inherit; text-decoration:inherit; }
input,select,textarea { font-size:inherit; }
p:first-child { margin-top:inherit !important; }
*{ outline:none; animation-fill-mode:both !important; -webkit-animation-fill-mode:both !important; }
[data-onclick],[onclick],[onrollover],[data-fixed-action],[aria-details],button,.flipwrap{ cursor:pointer; pointer-events:auto; }

body[class^='scaled-none'],body[class*=' scaled-none']{ overflow:auto; }
body[class^='scaled-width'],body[class*=' scaled-width']{ overflow-x:hidden; }
body[class^='scaled-height'],body[class*=' scaled-height']{ overflow-y:hidden; }
body[class^='scaled-best'],body[class*=' scaled-best']{ overflow:hidden; }
body[class^='scaled-best'][data-page-mode^='c'],body[class*=' scaled-best'][data-page-mode^='c']{ overflow:auto; }
body[class^='scaled-width'][data-page-mode^='csh'],body[class*=' scaled-width'][data-page-mode^='csh']{ overflow-x:auto; }
body[class^='scaled-height'][data-page-mode^='csv'],body[class*=' scaled-height'][data-page-mode^='csv']{ overflow-y:auto; }
body[data-scaled-to='w'] #container{ height:auto; min-height:auto; }
body[data-scaled-to='w'][data-page-mode^='cs'] #container{ position:absolute; }
body[data-scaled-to='w'][data-page-mode^='csv'] .pages { padding:0;}
body.zoomed:not([class*='scaled-']) #container { position:absolute; }
body[class*='scaled-'] .pages.paper-vertical{ margin:0; }
body[class^='zoomed'],body[class*=' zoomed']{ overflow-x:auto;overflow-y:auto; }
body[data-scaled-to] .anythingSlider-in5, body[data-scaled-to] #container > .page {padding:0;margin:0;}
body[data-scaled-to] #in5footer { position:fixed; bottom:0;}
/*body[data-scaled-to] * { -webkit-backface-visibility: hidden; }*/ /*fix blurry imgs*/
html.ios body[class*='scaled-'] #container { position:absolute; top:0; left:0; }
body.tall-page {overflow-y:auto;}
.liquid .page.tall-page {height:auto;}

.paper-vertical:after {
    position:relative;
    content:' ';
    display:block;
    height:50px;
    clear:both;
}
body[data-scaled-to="h"] .paper-vertical:after { display:none; }
body[data-scaled-to='h'] .paper-horizontal { margin:0; }
body[data-scaled-to='h'] .paper-horizontal .page { margin-top:0; }

#in5footer,#demoNote,#loadIndicator{
	min-width:100%;
	color:#fff;
	background:#666;
	font-family:"Trebuchet MS", "Lucida Grande", Helvetica, sans-serif;
	text-align:center;
	font-size:15px;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
}

#loadIndicator{
	width:100%; padding:6px; position:fixed;
	top:0; left:0; margin:auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.3);
    transition:all 1s ease-in .5s;
    opacity:1; z-index:99;
}
body.loaded #loadIndicator {
	opacity:0;
	transform:translateY(-36px);
	-webkit-transform:translateY(-36px);
	display:none\9;/*old IE*/
}
#loadIndicator img {
	vertical-align:text-bottom; width:18px;
}
html.local #loadIndicator, html.dps #loadIndicator, html.baker #loadIndicator { display:none; }

#in5footer{
	height:26px; line-height:26px; clear:both; position:relative; margin-top:-26px;
}

#demoNote {
    right:0; bottom:0; margin:auto;
    height:96px !important;
    padding:36px 10px;
}

#in5footer a, #demoNote a {
	text-decoration:none; color:#99ccff;
}
svg-img{display:block;position:absolute;}
.win-safari svg-img{width:100%;}
svg-img{width:100%\9;}
.spread-shift { position:absolute; }
.pageItem, svg { position:absolute; top:0; left:0; }
svg { overflow:visible; }
.pageItem {
	display:block;
	width:auto !important; height:auto !important;
	box-sizing:border-box; 
	-moz-box-sizing:border-box;
	-webkit-tap-highlight-color:transparent;
	padding:0;
}
.pageItem.hd/*, .pageItem img.hd*/  {
	-ms-transform:scale(.5);
    -ms-transform-origin:0 0 0;
    -webkit-transform:scale(.5);
    -webkit-transform-origin:0 0 0;
    transform:scale(.5);
    transform-origin:0 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    .pageItem { image-rendering: -webkit-optimize-contrast; }
}
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    .pageItem { image-rendering: optimizeSpeed; }
}}
@-moz-document url-prefix() {
  .pageItem { image-rendering: optimizeQuality; }
}
.svg-wrap { width:inherit !important; height:inherit !important; }
.pageItem p img { vertical-align:text-top; }
.pageItem p input, .pageItem p button {display:inline;}
.pageItem p .hidden, .details {visibility:hidden; }
.pageItem.group[data-ani] { will-change: transform; }
#colorbox .details { visibility:visible; }
.details {max-width:550px;font-size:18px;font-family:sans-serif;padding:0 24px;line-height:150%;left:0;right:0;margin:auto;}
.details p {margin-top:.5em;}
.details h1,.details h2,.details h3,.details h4,.details h5, .details strong {font-weight:bold;margin:.7em 0;}
.details em { font-style:italic; }
.details h1{font-size:150%;} .details h2{font-size:140%;} .details h3{font-size:130%;}
.details a {color:#0099ff;text-decoration:underline}
.details a:hover {text-decoration:none;}
@media (max-device-width:812px){ .details { font-size:32px; } }
html.ios .iframe-container { overflow:auto; -webkit-overflow-scrolling:touch; }
iframe[scrolling="auto"] { overflow:auto; }
iframe[scrolling="yes"] { overflow:scroll; }
iframe[scrolling="no"] { overflow:hidden; }
.page-scale-wrap { transform:translateZ(0); }
.page, .page-scale-wrap {
	position:relative; float:left; overflow:hidden;
}
.pages {
	list-style:none outside none;
	padding:0; margin:0 auto ;
}	
#container > .page { /*center single page baker*/
    position:absolute; bottom:0;
    left:0; right:0; top:0; margin:0 auto;
}
body:not(.zoomed,.responsive) #container/*, .page-scale-wrap*/ {/*desktop scaling transitions*/
	-webkit-transition:-webkit-transform .5s;
	transition:transform .5s;
}
html.multifile body #container { opacity:0; }
html.multifile body.loaded #container {/*do show scaling of multi-page*/
	opacity:1;
	-ms-transition:opacity .1s step-start .1s !important;
	-webkit-transition:opacity .1s step-start .1s !important;
	transition:opacity .1s step-start .1s !important;
}
html.multifile.fade body.loaded #container {
	-ms-transition:opacity .6s !important;
	-webkit-transition:opacity .6s !important;
	transition:opacity .6s !important;
}

.textColumn { float:left; }
.singleline p { line-height:1em !important; position:absolute;width:100%;/*fix webkit display issue*/ }
p.col-break-before::before {
	content:'';
    height:0px; width:100%;
    display:block; margin-bottom:100%;
}
.scroll, .scroll-vert, .scroll-horiz { -webkit-overflow-scrolling:touch; }/*was broken in iOS, turn off if scroll not working*/
.scroll { overflow:auto; }
.scroll-vert { overflow-y:auto; overflow-x:hidden; }
.scroll-horiz { overflow-x:auto; overflow-y:hidden; }
.scroll-vert::-webkit-scrollbar { -webkit-appearance:none; width:7px; } /*add back scrollbar for webkit*/
.scroll-vert::-webkit-scrollbar-thumb { border-radius:4px; background-color:rgba(0,0,0,.5); }
.hidescroll::-webkit-scrollbar { display:none; }
.hidescroll { -ms-overflow-style:none; overflow:-moz-scrollbars-none;/*old FF*/ }
.pulltab-left, .pulltab-left > * {
	-moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}
.pulltab-top, .pulltab-top > * {
	-moz-transform:scaleY(-1);
    -webkit-transform:scaleY(-1);
    -o-transform:scaleY(-1);
    transform:scaleY(-1);
}
object, embed, img, a { outline:0; }
.liquid svg, .liquid .page-scale-wrap { height:100%; width:100%; }
.noPlugin {
	width:100%; height:100%; padding:6px;
	background:#ccc; border:1px solid #666;
}

.paper-vertical, .paper-horizontal { padding:0 8px; }
.flip { 
	overflow:hidden; 
	-webkit-transition:transform 0.3s ease-in-out;
	-ms-transition:transform 0.3s ease-in-out;
	transition:transform 0.3s ease-in-out;
}
.turn-page-wrapper{
	will-change:transform;
}
.turn-page {
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,.7);
    box-shadow:0px 0px 20px rgba(0,0,0,.7);
}
.turn-page:not(.activePage) .pageItem[data-ani] { /*fix 2x animation*/
  	opacity:0;
  	animation:none !important;
}
.paper-horizontal {
	position:absolute; overflow-y:visible; overflow-x:hidden;
	margin-top:auto; margin-bottom:auto;
    top:0; bottom:0;
}

.paper-vertical .page, .paper-horizontal .page {
	border:1px solid #bbb;	
	margin:4px 4px 4px 0;
	-moz-box-shadow:0px 0px 0px #999;
	-webkit-box-shadow:0px 0px 5px #999;
	box-shadow:0px 0px 5px #999;
}

html[data-dir="rtl"] .paper-horizontal .page { float:right; }

.one-page-scroll .page {
	border:none;
	margin:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}

.mejs-mediaelement { overflow:hidden; }
.mejs-container{position:relative;background:none;}
.mejs-none .mejs-overlay-loading, .mejs-none .mejs-overlay-button, .mejs-none .mejs-controls, .mejs-bigplay .mejs-controls {display:none !important;}
.mejs-uncon video { object-fit:fill; }
.mejs-coverfit video { object-fit:cover; }
.mejs-ccsize-large .mejs-captions-layer {font-size:20px;}
.mejs-ccsize-xlarge .mejs-captions-layer {font-size:26px;}
.mejs-video .mejs-controls { transform:translateZ(0); }

.mejs-no-controls { display:none; }
.vid-scaled .mejs-layers, .vid-scaled .mejs-controls {
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
}

.liquid .page, .page.liquid {
	position:absolute; width:100%; height:100%;
	overflow:hidden; display:none;
}

.page.liquid { /*for multi-file*/
    display:block;
}
.liquid .page.activePage {display:block; }
.liquid video {width:100%; height:100%; }
.liquid .slideshow img { object-fit:contain; }

.in5-highlight {
	background:rgba(255,255,0,.6);
	mix-blend-mode:multiply;
	pointer-events:none;
	animation-name:in5-highlight-in,in5-highlight-in;
	animation-direction:normal,reverse;
	animation-delay:3s,3s;
	animation-duration:.5s,1s;
	animation-iteration-count:1,1;
}
@keyframes in5-highlight-in{ from{ opacity:0 } to { opacity: 1} }
.hidden { display:none !important; }
.skip-link-wrap { z-index: 1; position: fixed; }
[data-reader-only="1"]{
	transform: translateY(-100vh) !important;
	z-index:-1;
}
[data-reader-only="1"]:focus, [data-reader-only="1"]:active {
	transform: translateY(0%) !important;
	z-index:1;
}
.mso, .group, .mso > .state { pointer-events:none; }
.mso > .state * { pointer-events: inherit; }
.mso > .state.active * { pointer-events:auto; }
[data-tapstart="1"], [data-useswipe="1"], .group > * { pointer-events:auto; }
.mso > .state { display:block; opacity:0; width:100% !important; height:inherit !important; position:absolute; z-index:-1; }
.liquid .mso > .state { height:100% !important; }
.liquid label > .state {
    width:100% !important;
    height:100% !important;
}
.mso > .state.active, .mso > .state.transition { display:block; opacity:1; z-index:0; }
.mso.slideshow.seq, .panzoom, .fauxgroup { overflow:hidden; }
.panzoom { cursor:move; cursor:-moz-grab; cursor:-webkit-grab; }
.panzoom > .content {
	-ms-transform:none;
    -ms-transform-origin:auto;
    -webkit-transform:none;
    -webkit-transform-origin:auto;
    transform:none;
    transform-origin:auto;
}
.panzoom:not(.dragging) > .content {
	transition:all .3s;
}

button .state {width:100% !important; height:100% !important;}
button .state.btn-on, button .state.btn-down { display:none; }
html:not(.ios) button.has-on:hover .state.btn-on { display:block; }
html:not(.ios) button.has-on:hover .state.btn-off, html:not(.ios) button.has-on:hover .state.btn-down { display:none; }
html:not(.zz) button.has-down .state { pointer-events:none; }
html:not(.zz) button.has-down:active .state.btn-down { display:block; }
html:not(.zz) button.has-down:active .state.btn-off, html:not(.zz) button.has-down:active .state.btn-on { display:none; }

.align-vert { display:table; }
[class^="valign"] {
	position:relative;
	display:table-cell;
	vertical-align:middle;
	columns:inherit;
}
.valign-bottom { vertical-align:bottom; }
[class^="valign"] > p { position:relative; }

.flex-image, .fill-image { background-repeat:no-repeat; }
.flex-image { background-size:contain; background-position:center; }
.fill-image { background-size:cover; }

/*tabs*/
p.tabs, p.tabs > a { 
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	flex-wrap:wrap;
}
p.tabs > a {
	width:100%;
	width:-moz-available;
	width:-webkit-fill-available;
}
p.tabs span.tabbed-right { 
	-ms-flex-grow:1; 
	-webkit-flex-grow:1; 
	flex-grow:1; 
	text-align:right; 
}
p.tabs span.tabbed-center { 
	-ms-flex-grow:50; 
	-webkit-flex-grow:50; 
	flex-grow:50; 
	text-align:center; 
}
span.tabbed-standard { text-indent:2ex;padding-left:2ex; }
p.no-start-indent { text-indent:0px !important; }

/*anchor object styles*/
.ao-noTextWrap { position:absolute; }
.ao-alignLeft, .ao-leftFullWidth { float:left; position:relative; }
.ao-alignRight, .ao-rightFullWidth { float:right; transform-origin:90% 50%; -webkit-transform:90% 50%; /*fix for anchored animation*/ }
.ao-alignCenter {display:block; margin-left:auto; margin-right:auto;}
.ao-inlineTable { display:block; }
.ao-leftFullWidth { padding-right:100%; }
.ao-rightFullWidth { padding-left:100%; }
.anchorGroup { position:relative; };
div.ao-alignLeft:before, div.ao-leftFullWidth:before { content:''; float:left; display:none; }
div.ao-alignRight:before, div.ao-leftFullRight:before { content:''; float:right; display:none; }
.anchorGroup > .mso, .anchorGroup > .group { position:relative; }

ul.thumbs {
	padding:20px; white-space:nowrap; width:1px;
}

ul.thumbs li { /*Baker index thumbnails*/
    display:inline; list-style-type:none;
    margin:0 4px; outline:none;
    vertical-align:top;
}
ul.thumbs > li img { box-shadow:0 0 4px rgba(0, 0, 0, 0.5); }
.baker audio[controls] {min-width:400px;} /*fix progress bar*/

@media print { 
	#container,.page-scale-wrap{transform:none !important;}
	[class*=" btn-form-"]{display:none;}
}

:-ms-fullscreen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-moz-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }
:-webkit-full-screen .paper-horizontal { width:auto;height:auto;position:initial;margin:auto; }

:-ms-fullscreen .paper-vertical .page { display:none; }
:-moz-full-screen .paper-vertical .page { display:none; }
:-webkit-full-screen .paper-vertical .page { display:none; }

:-ms-fullscreen .paper-horizontal .page { display:none; }
:-moz-full-screen .paper-horizontal .page { display:none; }
:-webkit-full-screen .paper-horizontal .page { display:none; }

:-ms-fullscreen .page.activePage { display:block; }
:-moz-full-screen .page.activePage { display:block; }
:-webkit-full-screen .page.activePage { display:block; }

:-webkit-full-screen .hideFS { display:none; }
:-ms-fullscreen .hideFS { display:none; }
:-moz-full-screen .hideFS { display:none; }

/*CSS Generated from InDesign Styles*/

body, #container-wrap { background:#ededed; }
:-webkit-full-screen { background:#ededed; }
#loadIndicator span:after { padding-left:1ex; content:'loading content...'; }
.page-scale-wrap { width:375px; height:812px; background: #fff !important; }
.paper-vertical { width:375px; height:100%; }
.paper-horizontal { width:10px; height:824px; }
@media all and (max-height:812px) {
	.paper-horizontal { margin:0;top:0;}
	#container > .page { margin:0 auto;}/*pos top for webkit+baker*/
}
@media all and (max-width:375px) {
	.paper-vertical .page, .paper-horizontal .page, .anythingSlider-in5 { padding:0;top:0;border:0; }
	.paper-vertical, .paper-horizontal { padding:0; }
}

#item250 {
	width:375px !important;
	height:382px !important;
	top:-121px !important;
	border-radius:60px;
	background:#001123;
}

#item245 {
	width:216px !important;
	left:19px !important;
	top:36px !important;
	min-height:41px !important;
}

#item253 {
	width:162px !important;
	left:21px !important;
	top:77px !important;
	min-height:22px !important;
}

#item279 {
	opacity:0.51;
	width:198px !important;
	left:89px !important;
	top:302px !important;
	min-height:25px !important;
}

#item2434 {
	width:25px !important;
	height:25px !important;
	left:277px !important;
	top:174px !important;
}

#item2432 {
	width:25px !important;
	height:25px !important;
	left:206px !important;
	top:174px !important;
}

#item2430 {
	width:25px !important;
	height:25px !important;
	left:135px !important;
	top:174px !important;
}

#item956 {
	width:375px !important;
	height:480px !important;
	top:415px !important;
	border-radius:140px;
	background:#e3e3e3;
}

#item927 {
	width:103px !important;
	height:33px !important;
	border-radius:26px;
	background:#fec028;
}

#item929 {
	width:94px !important;
	left:5px !important;
	top:11px !important;
	min-height:25px !important;
}

#item2227 {
	width:103px !important;
	height:35px !important;
	left:252px !important;
	top:75px !important;
}

#item453 {
	width:103px !important;
	height:33px !important;
	border-radius:26px;
	background:#233448;
}

#item455 {
	width:94px !important;
	left:5px !important;
	top:10px !important;
	min-height:25px !important;
}

#item2092 {
	width:103px !important;
	height:35px !important;
	left:252px !important;
	top:31px !important;
}

#item996 {
	width:150px !important;
	height:41px !important;
	border-radius:60px;
	background:#ffffff;
}

#item998 {
	width:94px !important;
	left:28px !important;
	top:12px !important;
	min-height:25px !important;
}

#item2088 {
	width:150px !important;
	height:41px !important;
	left:114px !important;
	top:452px !important;
}

#item1034 {
	opacity:0.56;
	width:190px !important;
	height:48px !important;
	left:92px !important;
	top:336px !important;
	border-radius:31px;
	background:#233448;
}

#item349 {
	width:176px !important;
	height:36px !important;
	left:99px !important;
	top:342px !important;
	border-radius:28px;
	background:#233448;
}

#item307 {
	width:198px !important;
	left:89px !important;
	top:354px !important;
	min-height:32px !important;
}

#item5223 {
	width:208px !important;
	left:63px !important;
	min-height:70px !important;
}

#item5246 {
	width:329px !important;
	top:62px !important;
	min-height:71px !important;
}

#item5220 {
	width:329px !important;
	height:132px !important;
	left:22px !important;
	top:576px !important;
}

#item5274 {
	width:208px !important;
	left:62px !important;
	min-height:70px !important;
}

#item5298 {
	width:329px !important;
	top:62px !important;
	min-height:71px !important;
}

#item5271 {
	width:329px !important;
	height:132px !important;
	left:22px !important;
	top:576px !important;
}

#item5326 {
	width:208px !important;
	left:60px !important;
	min-height:70px !important;
}

#item5349 {
	width:329px !important;
	top:62px !important;
	min-height:71px !important;
}

#item5323 {
	width:329px !important;
	height:132px !important;
	left:23px !important;
	top:576px !important;
}

#item1038 {
	width:208px !important;
	left:61px !important;
	min-height:70px !important;
}

#item1142 {
	width:329px !important;
	top:63px !important;
	min-height:71px !important;
}

#item2414 {
	width:329px !important;
	height:133px !important;
	left:23px !important;
	top:576px !important;
}

#item1268 {
	width:375px !important;
	height:382px !important;
	top:770px !important;
	background:#001123;
}

#item1300 {
	width:55px !important;
	height:16px !important;
	left:17px !important;
	top:782px !important;
}

#item1301 {
	width:154px !important;
	left:207px !important;
	top:785px !important;
	min-height:17px !important;
}

@keyframes zoomin2d-488 {
	0% {
		transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes zoomin2d-488 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item2400 {
	width:25px !important;
	height:25px !important;
	left:64px !important;
	top:174px !important;
}

@keyframes zoomin2d-2387 {
	0% {
		transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes zoomin2d-2387 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@keyframes zoomin2d-2391 {
	0% {
		transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes zoomin2d-2391 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@keyframes zoomin2d-2395 {
	0% {
		transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
@-webkit-keyframes zoomin2d-2395 {
	0% {
		-webkit-transform:translate(0px,0px) scaleX(0.05) scaleY(0.05);
		opacity:0;
	}
	20% {opacity:0.2784;}
	73% {opacity:0.58;}
	93% {-webkit-transform:translate(0px,0px) scaleX(1) scaleY(1);}
}
#item5110 {
	width:308px !important;
	left:34px !important;
	top:723px !important;
	min-height:34px !important;
}

#item5137 {
	width:208px !important;
	left:84px !important;
	top:542px !important;
	min-height:33px !important;
}

#item5184 {
	width:88px !important;
	min-height:8px !important;
}

#item5216 {
	width:88px !important;
	height:8px !important;
	left:124px !important;
	top:736px !important;
}

@keyframes fadein-5835 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes fadein-5835 {
	0% {opacity:1;}
	100% {opacity:0;}
}
#item5835 {
	width:25px !important;
	height:25px !important;
	left:135px !important;
	top:174px !important;
}

@keyframes fadein-5838 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes fadein-5838 {
	0% {opacity:1;}
	100% {opacity:0;}
}
#item5838 {
	width:25px !important;
	height:25px !important;
	left:206px !important;
	top:174px !important;
}

@keyframes fadein-5841 {
	0% {opacity:1;}
	100% {opacity:0;}
}
@-webkit-keyframes fadein-5841 {
	0% {opacity:1;}
	100% {opacity:0;}
}
#item5841 {
	width:25px !important;
	height:25px !important;
	left:277px !important;
	top:174px !important;
}

#item756 {
	width:56px !important;
	min-height:18px !important;
}

#item5578 {
	width:56px !important;
	height:18px !important;
	left:261px !important;
	top:212px !important;
}

#item5538 {
	width:56px !important;
	min-height:18px !important;
}

#item5576 {
	width:56px !important;
	height:18px !important;
	left:261px !important;
	top:212px !important;
}

#item733 {
	width:47px !important;
	min-height:18px !important;
}

#item5574 {
	width:47px !important;
	height:18px !important;
	left:194px !important;
	top:212px !important;
}

#item5512 {
	width:47px !important;
	min-height:18px !important;
}

#item5572 {
	width:47px !important;
	height:18px !important;
	left:194px !important;
	top:212px !important;
}

#item710 {
	width:56px !important;
	min-height:18px !important;
}

#item5569 {
	width:56px !important;
	height:18px !important;
	left:119px !important;
	top:212px !important;
}

#item5486 {
	width:56px !important;
	min-height:18px !important;
}

#item5567 {
	width:56px !important;
	height:18px !important;
	left:119px !important;
	top:212px !important;
}

#item5462 {
	width:47px !important;
	min-height:18px !important;
}

#item5565 {
	width:47px !important;
	height:18px !important;
	left:52px !important;
	top:212px !important;
}

#item687 {
	width:47px !important;
	min-height:18px !important;
}

#item5563 {
	width:47px !important;
	height:18px !important;
	left:52px !important;
	top:212px !important;
}

#item5805 {
	width:53px !important;
	height:50px !important;
	background:#001123;
}

#item5834 {
	width:53px !important;
	height:50px !important;
	left:192px !important;
	top:162px !important;
}

#item5804 {
	width:55px !important;
	height:50px !important;
	background:#001123;
}

#item5833 {
	width:55px !important;
	height:50px !important;
	left:120px !important;
	top:162px !important;
}

#item5848 {
	width:55px !important;
	height:50px !important;
	background:#001123;
}

#item5846 {
	width:55px !important;
	height:50px !important;
	left:49px !important;
	top:162px !important;
}

@keyframes fadein-806 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-806 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-808 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-808 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-812 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-812 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-839 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-839 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-841 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-841 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-843 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-843 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-846 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-846 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-849 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-849 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes fadein-851 {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadein-851 {
	0% {opacity:0;}
	100% {opacity:1;}
}
#item2119 {
	opacity:0.25;
	width:400px !important;
	height:824px !important;
	background:#000;
}

#item2122 {
	width:400px !important;
	height:824px !important;
	left:-12px !important;
	top:-6px !important;
}

@keyframes flyinfromtop-919 {
	0% {
		transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		transform:translate(0px,0px);
		opacity:1;
	}
}
@-webkit-keyframes flyinfromtop-919 {
	0% {
		-webkit-transform:translate(-1px,-233px);
		opacity:0;
	}
	100% {
		-webkit-transform:translate(0px,0px);
		opacity:1;
	}
}
#item889 {
	width:375px !important;
	height:199px !important;
	background:#ffffff;
}

#item891 {
	width:332px !important;
	left:21px !important;
	top:170px !important;
	min-height:26px !important;
}

#item2095 {
	width:184px !important;
	left:33px !important;
	top:84px !important;
	min-height:25px !important;
}

#item861 {
	width:103px !important;
	height:33px !important;
	border-radius:26px;
	background:#001123;
}

#item863 {
	width:94px !important;
	left:5px !important;
	top:10px !important;
	min-height:25px !important;
}

#item2128 {
	width:103px !important;
	height:34px !important;
	left:221px !important;
	top:1px !important;
}

#item2120 {
	width:209px !important;
	height:36px !important;
	border-radius:30px;
	background:#e3e3e3;
	font-size:13px;
	padding-left: 15px;
	border: none;
}

#item2129 {
	width:67px !important;
	left:291px !important;
	top:19px !important;
	min-height:21px !important;
}

#item2190 {
	width:67px !important;
	left:291px !important;
	top:40px !important;
	min-height:21px !important;
}

#item1972 {
	opacity:0.16;
	width:396px !important;
	height:824px !important;
	background:#000;
}

#item1971 {
	width:322px !important;
	height:442px !important;
	left:37px !important;
	top:290px !important;
}

#item1980 {
	width:234px !important;
	height:75px !important;
	left:80px !important;
	top:630px !important;
}

#item5776 {
	width:245px !important;
	left:75px !important;
	top:527px !important;
	min-height:27px !important;
}

#item1981 {
	width:245px !important;
	left:75px !important;
	top:347px !important;
	min-height:36px !important;
}

#item2008 {
	width:245px !important;
	left:75px !important;
	top:391px !important;
	min-height:59px !important;
}

#item2058 {
	width:245px !important;
	left:75px !important;
	top:454px !important;
	min-height:70px !important;
}

#item2087 {
	width:396px !important;
	height:824px !important;
	left:-10px !important;
	top:-6px !important;
}

#item6037 {
	width:392px !important;
	height:824px !important;
	left:26px !important;
	background:#ffffff;
}

#item6039 {
	width:446px !important;
	height:604px !important;
	top:344px !important;
	border-radius:301px;
	background:#233448;
}

#item6120 {
	width:258px !important;
	height:232px !important;
	left:93px !important;
	top:58px !important;
}

#item6097 {
	opacity:0.45;
	width:228px !important;
	left:108px !important;
	top:774px !important;
	min-height:17px !important;
}

#item6131 {
	width:446px !important;
	height:948px !important;
	left:-34px !important;
	top:-6px !important;
}

#item6044 {
	width:257px !important;
	height:60px !important;
	border-radius:60px;
	background:#fec028;
}

#item6046 {
	width:94px !important;
	left:81px !important;
	top:22px !important;
	min-height:25px !important;
}

#item6041 {
	width:257px !important;
	height:60px !important;
	left:60px !important;
	top:556px !important;
}

#item6072 {
	width:259px !important;
	height:60px !important;
	border-radius:60px;
	background:#d0d0d0;
}

#item6074 {
	width:206px !important;
	left:27px !important;
	top:22px !important;
	min-height:23px !important;
}

#item6069 {
	width:259px !important;
	height:60px !important;
	left:58px !important;
	top:639px !important;
}

#item6304 {
	width:259px !important;
	height:60px !important;
	border-radius:60px;
	background:#001123;
}

#item6306 {
	width:126px !important;
	left:66px !important;
	top:21px !important;
	min-height:25px !important;
}

#item2425 {
	width:259px !important;
	height:60px !important;
	left:58px !important;
	top:472px !important;
}

#item6275 {
	width:259px !important;
	height:60px !important;
	border-radius:60px;
	background:#001123;
}

#item6277 {
	width:126px !important;
	left:66px !important;
	top:21px !important;
	min-height:25px !important;
}

#item2423 {
	width:259px !important;
	height:60px !important;
	left:58px !important;
	top:472px !important;
}

#item6247 {
	width:259px !important;
	height:60px !important;
	border-radius:60px;
	background:#001123;
}

#item6249 {
	width:126px !important;
	left:66px !important;
	top:21px !important;
	min-height:25px !important;
}

#item2421 {
	width:259px !important;
	height:60px !important;
	left:58px !important;
	top:472px !important;
}

#item5897 {
	width:259px !important;
	height:60px !important;
	border-radius:60px;
	background:#001123;
}

#item5899 {
	width:126px !important;
	left:66px !important;
	top:21px !important;
	min-height:25px !important;
}

#item2419 {
	width:259px !important;
	height:60px !important;
	left:58px !important;
	top:472px !important;
}

#item5608 {
	width:334px !important;
	left:21px !important;
	top:158px !important;
	min-height:588px !important;
}

#item5617 {
	width:375px !important;
	height:43px !important;
	top:769px !important;
	background:#001123;
}

#item5619 {
	width:55px !important;
	height:16px !important;
	left:17px !important;
	top:782px !important;
}

#item5623 {
	width:154px !important;
	left:207px !important;
	top:785px !important;
	min-height:17px !important;
}

#item5689 {
	width:534px !important;
	height:156px !important;
	left:-85px !important;
	top:-4px !important;
}

#item5675 {
	width:158px !important;
	height:139px !important;
	top:22px !important;
}

#item5682 {
	width:163px !important;
	height:193px !important;
	left:212px !important;
	top:-58px !important;
}

p.autoParaStyle57 {
	font-family:Poppins;
	font-size:9px;
	line-height:16px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle56 {
	font-weight:bold;
	font-family:Poppins;
	font-size:17px;
	line-height:24px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle55 {
	font-family:Poppins;
	font-size:18px;
	line-height:24px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle54 {
	font-family:Poppins;
	font-size:10px;
	line-height:12px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle53 {
	font-weight:bold;
	font-family:Poppins;
	font-size:9px;
	line-height:14px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle52 {
	font-weight:bold;
	font-family:Poppins;
	font-size:10px;
	line-height:14px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle51 {
	font-family:Poppins;
	font-size:8px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle50 {
	font-family:Poppins;
	font-size:6px;
	line-height:14px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle49 {
	font-family:Poppins;
	font-size:10px;
	line-height:6px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle48 {
	font-weight:500;
	font-family:Poppins;
	font-size:9px;
	line-height:14px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle47 {
	font-family:Poppins;
	font-size:10px;
	line-height:14px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle46 {
	font-family:Poppins;
	font-size:9px;
	line-height:14px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle45 {
	font-weight:600;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle44 {
	font-weight:600;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle43 {
	font-weight:600;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle42 {
	font-weight:600;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle41 {
	font-weight:600;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle40 {
	font-weight:800;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle39 {
	font-family:Poppins;
	font-size:10px;
	line-height:16px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle38 {
	font-family:Poppins;
	font-size:14px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle37 {
	font-weight:bold;
	font-family:Poppins;
	font-size:30px;
	line-height:36px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle36 {
	font-weight:600;
	font-family:Poppins;
	font-size:30px;
	line-height:36px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle35 {
	font-family:Poppins;
	font-size:14px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle34 {
	font-family:Poppins;
	font-size:13px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle33 {
	font-weight:bold;
	font-family:Poppins;
	font-size:13px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle32 {
	font-weight:600;
	font-family:Poppins;
	font-size:13px;
	line-height:15.6px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle31 {
	font-weight:600;
	font-family:Poppins;
	font-size:13px;
	line-height:15.6px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle30 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#c00000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle29 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle28 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle27 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle26 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle25 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle24 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle23 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle22 {
	font-family:Poppins;
	font-size:9px;
	line-height:10.8px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle21 {
	font-weight:600;
	font-family:Poppins;
	font-size:7px;
	line-height:11px;
	color:#008cff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle20 {
	font-weight:bold;
	font-family:Poppins;
	font-size:18px;
	line-height:21.6px;
	color:#233448;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle19 {
	font-family:Poppins;
	font-size:8px;
	line-height:11px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle18 {
	font-family:Poppins;
	font-size:8px;
	line-height:11px;
	color:#e3e3e3;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle17 {
	font-family:Poppins;
	font-size:10px;
	line-height:16px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:right;
}

p.autoParaStyle16 {
	font-family:Poppins;
	font-size:11px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle15 {
	font-family:Poppins;
	font-size:11px;
	line-height:18px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle14 {
	font-weight:bold;
	font-family:Poppins;
	font-size:18px;
	line-height:21.6px;
	color:#233448;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle13 {
	font-family:Poppins;
	font-size:12px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle12 {
	font-weight:bold;
	font-family:Poppins;
	font-size:18px;
	line-height:21.6px;
	color:#233448;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle11 {
	font-family:Poppins;
	font-size:12px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle10 {
	font-weight:bold;
	font-family:Poppins;
	font-size:18px;
	line-height:21.6px;
	color:#233448;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle9 {
	font-family:Poppins;
	font-size:12px;
	line-height:18px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle8 {
	font-weight:bold;
	font-family:Poppins;
	font-size:18px;
	line-height:21.6px;
	color:#233448;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle7 {
	font-family:Poppins;
	font-size:12px;
	line-height:14.4px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle6 {
	font-weight:600;
	font-family:Poppins;
	font-size:17px;
	line-height:20.4px;
	color:#001123;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle5 {
	font-weight:600;
	font-family:Poppins;
	font-size:13px;
	line-height:15.6px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle4 {
	font-weight:600;
	font-family:Poppins;
	font-size:13px;
	line-height:15.6px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle3 {
	font-weight:bold;
	font-family:Poppins;
	font-size:14px;
	line-height:16.8px;
	color:#001123;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:center;
}

p.autoParaStyle2 {
	font-family:Poppins;
	font-size:18px;
	line-height:21.6px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.autoParaStyle1 {
	font-weight:600;
	font-family:Poppins;
	font-size:30px;
	line-height:36px;
	color:#ffffff;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.Basic-Paragraph {
	font-family:"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

p.No-Paragraph-Style {
	font-family:"Minion Pro","Times New Roman", Times, serif;
	font-size:12px;
	line-height:14.4px;
	color:#000;
	hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphenate-after:2;
	-ms-hyphenate-after:2;
	-moz-hyphenate-after:2;
	-webkit-hyphenate-after:2;
	hyphenate-before:2;
	-ms-hyphenate-before:2;
	-moz-hyphenate-before:2;
	-webkit-hyphenate-before:2;
	text-align:left;
}

span.autoCharStyle11 {
	font-weight:bold;
	font-family:Poppins;
	font-size:17px;
}

span.autoCharStyle10 {
}

span.autoCharStyle9 {
	font-size:8px;
}

span.autoCharStyle8 {
	font-weight:500;
	font-family:Poppins;
	font-size:9px;
}

span.autoCharStyle7 {
	font-weight:500;
	font-family:Poppins;
	font-size:8px;
}

span.autoCharStyle6 {
	font-size:9px;
}

span.autoCharStyle5 {
	font-weight:600;
	font-family:Poppins;
	font-size:9px;
}

span.autoCharStyle4 {
	font-weight:bold;
	font-family:Poppins;
}

span.autoCharStyle3 {
	font-size:10px;
}

span.autoCharStyle2 {
	color:#000;
}

span.autoCharStyle1 {
	color:#000;
}

span.None {
}

#msg {
	font-family: Poppins;
	top: 13px;
	left: 20px;
	color: green;
	font-size: 11px;
	z-index: 1000;
	display: flex;
	position: absolute;
	white-space: nowrap;

}
